<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4 [style.color]="getRatingColor(product.rating)">Rating: {{ generateStars(product.rating) }}</h4>
  <p>{{ product.description }}</p>
  <p><img [src]="product.link1" alt="{{ product.name }}" width="200">
    <img [src]="product.link2" alt="{{ product.name }}" width="200"> 
    <img [src]="product.link3" alt="{{ product.name }}" width="200">
  </p>
  
  <button type="button" (click)="addToCart(product)">Buy</button>
</div>
