<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <img [src]="product.link1" alt="{{ product.name }}" width="200"><br>
    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>
  <h4 [style.color]="getRatingColor(product.rating)">Rating: {{ generateStars(product.rating) }}</h4>
  <p *ngIf="product.description" style="width: 60%;">Description: {{ product.description }}</p>

  <button type="button" (click)="share(product.link)">Share</button>
  <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
</div>